.Orgcontainer {
  h1 {
    font-size: 2.9rem;
    font-weight: 500;
  }

  div {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      width: 100%;
      gap: 1rem;

      .org {
        display: flex;
        list-style: none;
        padding: 1.2rem;
        box-shadow: var(--box-bs);

        border-radius: 10px;

        img {
          border-radius: 50%;
          height: 80px;
          width: 80px;
          margin-right: 0.5rem;
        }

        h2 {
          font-size: 1.3rem;
          font-weight: 400;
          margin-bottom: 0.25rem;
        }

        h3 {
          font-size: 1rem;
          font-weight: 200px;
          color: var(--gray-6);
        }

        p {
          color: #4f4f4f;
          font-size: smaller;
          font-style: italic;
        }
      }
    }
  }
}
