.main_container 
{
    padding-left: 20%;
    padding-right: 20%;
}
.container 
{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.logo-box 
{
    position: absolute;
    left:290px;
    top:140px;
}
.logo 
{
    width: 100px;
    height: 100%;
}

.company_name 
{   
    margin-top:2rem;
    font-weight: bold;
    width: 100%;
    font-size: 1rem;
}
.company_desc 
{
    font-size:12px;
    font-weight: 400;
}
.grid-box 
{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    gap:1rem;
    flex-wrap: wrap;
}

.nav 
{
    display: flex;
    justify-content: center;
    gap:1rem;
}

.card 
{
    margin-top: 2rem;
    width: 250px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 300px;
    flex-grow: 1;
    gap:10px;
}

.imgBox 
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center; 
    background-color: #A0B4B7;
}

.btn 
{   
    border:2px solid #0A66C2;
    border-radius: 10px;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    padding:5px;
    cursor: pointer;
    color: #0A66C2;
}
.content 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section 
{
    background-color:white;
    padding: 1rem;
    font-size: 14px;
    border-radius: 10px;
}

.subsection 
{
    font-size:18px;
    font-weight: bold;
    color: black;
}