.table-wrapper {
  overflow-x: auto;
  background: white;
  box-shadow: var(--box-bs);

  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    th,
    td {
      text-align: left;
      font-size: 0.9rem;

      &:first-child {
        padding: 0;
        padding-left: 1rem;
      }
    }

    th {
      border-bottom: 1px solid var(--gray-4);
      padding: 1.2rem;
      font-weight: 600;
      font-size: 0.8rem;
      color: var(--text-muted);
      white-space: nowrap;
    }

    td {
      border-bottom: 1px solid var(--gray-1);
      padding: 0.8rem 1.2rem;
      font-weight: 400;
    }

    tbody tr {
      transition: 0.12s ease-in-out;
      cursor: pointer;
      user-select: none;

      &:hover {
        background-color: rgba(24, 98, 31, 0.1);
      }
    }
  }
}
