.navbar {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 9000;
  box-shadow: var(--box-bs);

  .nav-container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .logo {
    padding: 2px 0;

    a {
      height: 64px;
      display: flex;
      align-items: center;
    }

    img {
      height: 56px;
      width: auto;
    }
  }

  .nav-content {
    display: flex;

    .nav-toggles {
      display: flex;
      gap: 1rem;
      flex-direction: row;
      align-items: center;
      margin-left: 2rem;

      > *:first-child {
        display: none;

        @media screen and (max-width: 768px) {
          display: block;
        }
      }

      button {
        position: relative;
        background-color: transparent;
        border: solid 2px #272727;
        color: #272727;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 9999px;
        cursor: pointer;

        @media screen and (max-width: 768px) {
          height: 2.2rem;
          width: 2.2rem;
        }
      }

      svg {
        height: 1.6rem;
        width: 1.6rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 768px) {
          height: 1.4rem;
          width: 1.4rem;
        }
      }
    }
  }

  .collapsable-nav {
    position: fixed;
    left: 0;
    right: 0;
    margin-top: 0.8rem;
    padding-top: 1.6rem;
    padding-bottom: 2.4rem;
    padding-left: calc(0.6 * var(--gutter-x));
    padding-right: calc(0.6 * var(--gutter-x));
    min-width: 220px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    z-index: -1;
    transition: all 0.3s ease-out;

    @media screen and (min-width: 768px) {
      margin-top: 1rem;
      position: static;
      padding-top: 1rem;
      padding-bottom: 1rem;

      .collapsable-nav-list .nav-li .link-txt {
        font-size: 1rem;
        font-weight: 600;
      }
    }

    .collapsable-nav-list {
      list-style-type: none;
      font-weight: 500;

      .nav-li {
        margin-bottom: 0.8rem;

        .link {
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(calc(2px - 0.6 * var(--gutter-x)));
            display: block;
            width: 6px;
            height: 0;
            background-color: currentColor;
            transition: all 0.15s ease-out;
          }

          &:hover::after,
          &.active::after {
            height: 100%;
          }

          &.active {
            color: #18621f;
          }
        }

        .link-txt {
          font-size: 1.2rem;
          padding: 5px 0;
          white-space: nowrap;

          @media screen and (min-width: 768px) {
            font-size: 1rem;
            font-weight: 600;
          }
        }
      }
    }
  }

  .collapsable-nav.show {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    list-style: none;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 768px) {
      display: none;
    }

    .nav-li {
      margin-left: 2rem;
      font-size: 0.8rem;
      font-weight: 600;

      .link {
        &::after {
          content: "";
          position: absolute;
          top: calc(100% - 8px);
          display: block;
          width: 100%;
          height: 0px;
          background-color: currentColor;
          transition: all 0.15s ease-out;
        }

        &:hover::after {
          height: 6px;
        }

        &.active::after {
          height: 6px;
        }

        &.active {
          color: #18621f;
        }

        .link-txt {
          padding: 0 5px;
        }
      }
    }
  }

  .nav-li {
    text-transform: uppercase;
    font-family: "Open Sans", serif;

    .link {
      position: relative;
      display: flex;
      height: 100%;
      align-items: center;
      color: #272727;
      text-decoration: none;
      transition: color 0.2s ease-in-out;
    }
  }
}

.spinner {
  border: solid 2px #272727;
  border-right: solid 2px transparent;
  border-radius: 9999px;
  width: 2.2rem;
  height: 2.2rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1rem;

  .user-name-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
  .user-name {
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
  }

  .user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 9999px;
  }

  .message {
    font-size: 0.8rem;
    font-weight: 600;
    color: #18621f;
    text-decoration: none;
  }
}
