.btn {
  --color: #333;
  --active-color: #000;
  --bg-color: transparent;
  --active-bg-color: transparent;
  --border-color: #333;
  --active-border-color: #000;

  position: relative;

  padding: 0.375rem 1rem;
  border: solid 1px var(--border-color);
  background-color: var(--bg-color);
  color: var(--color);

  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.2;

  transition: all 0.1s ease-out;

  &::after {
    position: absolute;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    pointer-events: none;
    content: "";
    border: solid 1px transparent;
    transition: all 0.1s ease-out;
    border-radius: inherit;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: var(--active-bg-color);
    border: solid 1px var(--active-border-color);
    color: var(--active-color);
  }
  &:active::after {
    border: solid 1px var(--active-border-color);
  }
}

.btn.primary {
  --color: #fff;
  --active-color: #fff;
  --bg-color: var(--primary);
  --active-bg-color: var(--primary-dark);
  --border-color: var(--primary);
  --active-border-color: var(--primary-dark);
}
.btn.secondary {
  --color: var(--primary);
  --active-color: var(--primary-dark);
  --bg-color: transparent;
  --border-color: var(--primary-dark);
  --active-border-color: var(--primary-dark);
}
.btn.link {
  --color: #333;
  --bg-color: transparent;
  --active-color: #000;
  --border-color: transparent;
  --active-border-color: transparent;
}
.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  &::after {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
