.box {
  border: solid 1px rgb(229 231 235);
  padding: 1rem;
  box-shadow: var(--box-bs);
  background-color: white;
  margin-bottom: 2rem;

  @media screen and (max-width: 768px) {
    padding: 1.2rem;
  }

  .actions {
    button {
      padding: 0.25rem 0.5rem;
      font-weight: 500;
      font-size: 1rem;
    }

    svg {
      width: 1.2rem;
      stroke-width: 1.8;
    }
  }
}

.application-row {
  position: relative;
  transition: 0.12s ease-in-out;
  cursor: pointer;
  user-select: none;

  --status-pending: #f6ad55;
  --status-approved: #68d391;
  --status-rejected: #f56565;
  --default: var(--gray-5);

  --color: var(--default);
  --bg: var(--default);

  &:hover {
    background-color: rgba(24, 98, 31, 0.1);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 4px;
    width: 6px;
    height: 6px;
    background: var(--bg);
    border-radius: 9999px;
    top: 50%;
    translate: 0 -50%;
    border: solid 1px var(--color);
  }
}
.application-row.pending {
  --color: var(--status-pending);
  --bg: var(--status-pending);
  &::after {
    box-shadow: 0 0 6px -1px var(--status-pending);
    animation: pulse 1.5s infinite;

    @keyframes pulse {
      0% {
        box-shadow: 0 0 6px -1px var(--status-pending);
      }
      50% {
        box-shadow: 0 0 0 -1px var(--status-pending);
      }
      100% {
        box-shadow: 0 0 6px 0px var(--status-pending);
      }
    }
  }
}
.application-row.approved {
  --color: var(--status-approved);
  --bg: var(--status-approved);
}
.application-row.rejected {
  --color: var(--status-rejected);
  --bg: var(--status-rejected);
}
.application-row.read {
  --bg: transparent;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sub-text {
  font-size: 0.8rem;
  color: var(--text-muted);
}
