.header {
  display: flex;
  align-items: center;
  min-height: 20vh;

  .header-content {
    max-width: 650px;
    padding-bottom: 2rem;

    .heading {
      font-size: 3rem;
      margin: 1rem 0 3rem;
    }

    p {
      font-size: 1.25rem;
      font-weight: 300;
      color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    min-height: 40vh;

    .header-content {
      .heading {
        font-size: 2rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}
